/* Estilo index */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Estructura el contenido en una columna */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    background-color: #ffffff;
    color: #283747;
}

/* Estilo para el título principal en index */
.index h1 {
    margin-top: 50px; /* Baja el título principal */
}

/* Estilo general para la barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

/* Ajustes de la barra de navegación */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #283747; /* Azul oscuro */
}

#logo {
    height: 40px;
}

/* Ajustes para la lista de navegación */
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto; /* Alinear la lista al centro */
    margin-right: auto; /* Mantener la lista centrada */
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-list a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Secciones con animaciones en index */
.index .section {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 8px; /* Bordes ligeramente redondeados */
}

.index .section:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

/* Contenedor principal del contenido */
#contenido {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Bloques de contenido en dos mitades */
#contenido .bloque {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Efecto de zoom al pasar el ratón */
#contenido .bloque:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

/* Ajustes de las imágenes dentro de los bloques */
#contenido .bloque img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contenedor de proyectos destacados */
body.index #contenido .proyectos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Configuración para cada proyecto */
body.index .proyecto {
    width: 100%;
    text-align: center;
    padding: 100px;
}

/* Imágenes dentro de cada proyecto */
body.index .proyecto img {
    width: 100%;
    height: auto;
}

#presentacion {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4; /* Gris claro para la sección de presentación */
}

.bloque {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9; /* Gris claro para los bloques */
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #283747; /* Azul oscuro para el footer */
    color: white;
    margin-top: auto;
}

.proyectos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proyecto {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.proyecto img {
    max-width: 100%;
    height: auto;
}

.foto-cv img {
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    object-fit: cover !important;
    display: block !important;
    margin: 0 auto !important;
}


/* Estilo para "contacto" */

#contacto h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 120px; /* Separación con el menú */
    margin-bottom: 40px; /* Separación adicional con el contenido */
    color: #283747; /* Azul oscuro para el título */
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-bottom: 60px;
}

.contact-info {
    border: 1px solid #eeeeee; /* Borde gris claro */
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Fondo blanco */
}

/* Estilo general para la barra de navegación */
.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   transition: top 0.3s;
   z-index: 1000;
}


/* Ajustes de la barra de navegación */
.nav-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: #283747; /* Azul oscuro */
}


#logo {
   height: 40px;
}


/* Ajustes para la lista de navegación */
.nav-list {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-left: auto; /* Alinear la lista al centro */
   margin-right: auto; /* Mantener la lista centrada */
}


.nav-list li {
   margin-left: 20px;
}


.nav-list a {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   padding: 5px 10px;
}


.nav-list a:hover {
   background-color: #575757;
   border-radius: 5px;
}

/* Formulario */

#contacto .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto .contact-info {
    order: 1;
}

#contacto form {
    order: 2;
    width: 50%;
    border: 1px solid #eeeeee; /* Borde gris claro */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Fondo blanco */
    margin-top: 20px;
}

#contacto form label,
#contacto form input {
    width: 100%;
    margin-bottom: 10px;
}

/* Campos de texto */

#contacto form input[type="text"],
#contacto form input[type="email"],
#contacto form input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Borde en rojo cuando el campo es incorrecto */
#contacto form input.error {
    border-color: red;
}

/* Borde en verde cuando el campo es válido */
#contacto form input.success {
    border-color: green;
}

/* Estilo para el botón */
#contacto form input[type="submit"] {
    padding: 10px 20px;
    background-color: #283747;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#contacto form input[type="submit"]:hover {
    background-color: #34495e;
    transform: scale(1.05);
}

/* Estilos para los proyectos */
.lista-proyectos .proyecto {
    opacity: 0; /* Empieza invisible */
    transform: translateY(-20px); /* Empieza ligeramente desplazado hacia arriba */
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; /* Animación suave */
}
/* Estilo general para la barra de navegación */
.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   transition: top 0.3s;
   z-index: 1000;
}


/* Ajustes de la barra de navegación */
.nav-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: #283747; /* Azul oscuro */
}


#logo {
   height: 40px;
}


/* Ajustes para la lista de navegación */
.nav-list {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-left: auto; /* Alinear la lista al centro */
   margin-right: auto; /* Mantener la lista centrada */
}

.nav-list li {
   margin-left: 20px;
}

.nav-list a {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   padding: 5px 10px;
}

.nav-list a:hover {
   background-color: #575757;
   border-radius: 5px;
}

/* Estado cuando la lista de proyectos está activa */
.lista-proyectos.active {
    opacity: 1; /* Mostrar lista de proyectos */
}

/* Animación de los proyectos con retraso secuencial */
.lista-proyectos.active .proyecto:nth-child(1) {
    opacity: 1; /* Hacer visible el primer proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.1s; /* Retraso para el primer proyecto */
}

.lista-proyectos.active .proyecto:nth-child(2) {
    opacity: 1; /* Hacer visible el segundo proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.2s; /* Retraso para el segundo proyecto */
}

.lista-proyectos.active .proyecto:nth-child(3) {
    opacity: 1; /* Hacer visible el tercer proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.3s; /* Retraso para el tercer proyecto */
}

.lista-proyectos.active .proyecto:nth-child(4) {
    opacity: 1; /* Hacer visible el cuarto proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.4s; /* Retraso para el cuarto proyecto */
}

.lista-proyectos.active .proyecto:nth-child(5) {
    opacity: 1; /* Hacer visible el quinto proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.5s; /* Retraso para el quinto proyecto */
}

.lista-proyectos.active .proyecto:nth-child(6) {
    opacity: 1; /* Hacer visible el sexto proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.6s; /* Retraso para el sexto proyecto */
}

.lista-proyectos.active .proyecto:nth-child(7) {
    opacity: 1; /* Hacer visible el séptimo proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.7s; /* Retraso para el séptimo proyecto */
}

.lista-proyectos.active .proyecto:nth-child(8) {
    opacity: 1; /* Hacer visible el octavo proyecto */
    transform: translateY(0); /* Restaurar la posición inicial */
    transition-delay: 0.8s; /* Retraso para el octavo proyecto */
}

/* Contenedor de los proyectos */
.lista-proyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px; /* Espaciado entre elementos */
    justify-items: center; /* Centrar los proyectos */
    padding: 20px;
}

/* Estilos generales para el título */
.titulo-seccion {
    font-size: 3rem; /* Tamaño de la fuente */
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    color: #333; /* El color de la fuente */
    display: inline-block; /* Esto es importante para que el texto se "escriba" en línea */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Esconde el texto que no se ha escrito aún */
    margin-top: 108px;
    margin-left: 28px;
    width: 0; /* Comienza con el ancho en 0 */
    opacity: 1; /* Aseguramos que la opacidad esté al 100% */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transform: scale(0.9); /* Empieza un poco más pequeño */
    transition: opacity 0.5s ease-out, transform 0.2s ease;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

/* Animaciones al titulo cuando aparezca */
.titulo-seccion.visible {
    opacity: 1; /* Mantener opacidad visible */
    animation: typing 3s ease-in-out forwards, glow 1s ease-out forwards;
    transform: scale(1); /* Escala a su tamaño normal */

}

/* Animación de escritura */
@keyframes typing {
    0% {
        width: 0;
        transform: translateY(10px); /* Deslizar desde abajo */
        transform: scaleX(0);
        opacity: 0;
     }
    50% {
        opacity: 0.7;
    }
    100% {
        width: 100%;
        transform: translateY(0);
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
    }
}

/* Efecto de zoom en las tarjetas al pasar el cursor */
.proyecto {
    background-color: #a7a8b6; /* Fondo blanco */
    border: 1px solid #a7a8b6; /* Borde inicial gris */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: auto; /* Ajustar altura automáticamente */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suavizamos la transición */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    perspective: 1000px; /* Permite ver la animación en 3D */
}

/* Imagen dentro del proyecto */
.imagen-proyecto {
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease; /* Suavizamos la transición en la imagen */
}

/* Zoom en la imagen y tarjeta al hacer hover */
.proyecto:hover {
    max-width: 308px;
    transform: scale(1.1); /* Escalamos la tarjeta un poco */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añadimos sombra más grande para darle efecto de profundidad */
}

.proyecto:hover .imagen-proyecto {
    transform: scale(1.1); /* Hacemos que la imagen también haga zoom */
}

/* Títulos y descripciones */
.proyecto h3 {
    font-size: 18px;
    margin: 10px 15px;
    color: #333;
    text-align: center;
    flex-shrink: 0; /* Evita que se ajuste el tamaño del texto */
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

.proyecto p {
    font-size: 14px;
    margin: 10px 15px;
    color: #666;
    flex-grow: 1; /* Asegura que la descripción ocupe el espacio restante */
    overflow: hidden; /* Evitar desbordamiento */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limitar a 3 líneas */
    -webkit-box-orient: vertical;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* La animación del "pergamino" */
.info-adicional {
    max-height: 0;                      /* Inicialmente oculto */
    overflow: hidden;
    transform-origin: top center;       /* Punto de origen del "doblez" */
    transition: max-height 0.6s ease-in-out, transform 0.5s ease-in-out; /* Transiciones suaves */
    transform: rotateX(-90deg);         /* Comienza doblado hacia abajo */
}

/* Mostrar la información adicional */
.info-adicional.show {
    max-height: 500px;                  /* Máxima altura cuando está visible */
    transform: rotateX(0deg);           /* Desplegar el pergamino */
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Estilo para las sombras y efectos */
.proyecto:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la tarjeta */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto flotante */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

/* Sombra animada */
.proyecto:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

/* Efecto de sombra en el contenido desplegado */
.info-adicional p {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.info-adicional.show p {
    opacity: 1;
}

/* Estilo para el botón "Más" */
.ver-mas {
    background-color: transparent;
    border: 2px solid #007BFF;
    color: #007BFF;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    z-index: 3;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

/* Efecto para el botón */
.ver-mas:hover {
    background-color: #007BFF;
    color: #fff;
    border-color: #0056b3;
}

/* Fondo estático para las tarjetas */
.proyecto {
    background: linear-gradient(135deg, #00bcd4, #d9a694);
    transition: background 0.5s ease;
}

/* Degradado dinámico al hacer hover */
.proyecto:hover {
    background: linear-gradient(135deg, #E9babc, #00FFFF); /* Cian y rosa viejo mezclados */
    color: white;
}

@media (max-width: 768px) {
    #contenido {
        flex-direction: column; /* Cambia los bloques a una columna */
        gap: 10px;
    }

    #contenido .bloque {
        flex: unset;
        width: 100%; /* Abarca todo el ancho */
    }
}

/* Responsive */
@media (max-width: 992px) {
    .lista-proyectos {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en tablets */
    }
}

@media (max-width: 768px) {
    .lista-proyectos {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles grandes */
    }
}

@media (max-width: 480px) {
    .lista-proyectos {
        grid-template-columns: 1fr; /* 1 columna en móviles pequeños */
    }
}
